################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dcu
*.local
*.identcache
*.todo
/source/__history/DBSchema.pas.~1~
/source/__history/DBSchema.pas.~2~
/source/__history/Zcodegen.dpr.~1~
/source/__history/Zcodegen.dpr.~2~
/build/Zcodegen.exe
/source/__history
/bin/Zcodegen.exe
/build/ZcodeCore.bpi
/build/ZcodeCore.bpl
/build/ZcodeCore.dcp
/build/ZcodeCore.lib
/source/Plugins/__history
/source/Plugins/API/__history/APIBase.pas.~1~
/build
/source/ZcodeCore_project.tvsconfig
/source/ZcodegenGroup_prjgroup.tvsconfig
/source/Zcodegen_project.tvsconfig
*.stat
/source/Plugins/DocGen.dpr
/source/Plugins/DocGen.dproj
/source/Plugins/DocGen.res
/source/Plugins/RDa06468
samples/DBStaticWebsite/codeimatic.codegen.log
*.log
*.log
*.stat
samples/Interpreter/Output/INTERPRETER.TXT
source/Plugins/WebServer.stat
source/CodeImatic.codegen.$manifest
source/__recovery/__recovery.ini
samples/Interpreter/Output/INTERPRETER.TXT
*.~1~
*.~2~
*.pas
