################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dcu
*.local
*.identcache
*.todo
/source/__history/DBSchema.pas.~1~
/source/__history/DBSchema.pas.~2~
/source/__history/Zcodegen.dpr.~1~
/source/__history/Zcodegen.dpr.~2~
/build/Zcodegen.exe
/source/__history
/bin/Zcodegen.exe
/build/ZcodeCore.bpi
/build/ZcodeCore.bpl
/build/ZcodeCore.dcp
/build/ZcodeCore.lib
/samples/StaticWebsite
/source/Plugins/__history
/source/Plugins/API/__history/APIBase.pas.~1~
/build
/source/ZcodeCore_project.tvsconfig
/source/ZcodegenGroup_prjgroup.tvsconfig
/source/Zcodegen_project.tvsconfig
*.stat
